$font-family-default: -apple-system, sans-serif;
$font-family-body: 'Roboto', $font-family-default;

// Font dimensions
$font-size-base: 1em;

// Font weights.
$font-weight-light: 300;
$font-weight-reg: 400;
$font-weight-med: 500;
$font-weight-heavy: 700;
